<%= form_with local: false do |form| %>

  <div class="form-group w-25 p-3">
    <label> Длина, м </label>
    <%= form.text_field :length,class:"form-control", onchange:"validate(this)" %>
    <label> Ширина, м </label>
    <%= form.text_field :width,class:"form-control", onchange:"validate(this)" %>
    <label> Высота, м </label>
    <%= form.text_field :height,class:"form-control", onchange:"validate(this)" %>
    <label> Объём, м³ </label>
    <%= form.text_field :volume,class:"form-control", onchange:"validate(this)" %>
    <label> Город отправки </label>
    <%= form.text_field :departure,class:"form-control", id:"departure" %>
    <label> Город доставки </label>
    <%= form.text_field :destination,class:"form-control", id:"destination" %>
    <%= form.hidden_field :distance, id:"distance" %>
    <button onclick="calculate()" type="button" class="btn btn-dark"> Рассчитать </button>
    
  </div>

<% end %>


<script>
  function validate(field){
    if (Number.isInteger(parseInt(field.value))){
    } else {
      alert('введите целое число');
      field.value = ''
    }
  };
  function calculate(){
    ymaps.ready(function(){
      var departure = document.getElementById("departure").value;
      var destination = document.getElementById("destination").value;

      ymaps.route([departure,destination]).then(
        function(route){
          console.log(route);
          var distance = route.getLength();
          set_distance(Math.round(distance/1000));
          form = document.querySelector('form');
          Rails.fire(form, 'submit');
        });
    });
  };


  function set_distance(distance){
    console.log(distance);
    document.getElementById("distance").value = distance;
  }
</script>