<%= form_with do |form| %>

  <div class="form-group w-25 p-3">
    <label> Длина, м </label>
    <%= form.text_field :length,class:"form-control", onchange:"validate(this)" %>
    <label> Ширина, м </label>
    <%= form.text_field :width,class:"form-control", onchange:"validate(this)" %>
    <label> Высота, м </label>
    <%= form.text_field :height,class:"form-control", onchange:"validate(this)" %>
    <label> Объём </label>
    <%= form.text_field :volume,class:"form-control", onchange:"validate(this)" %>
    <label> Город отправки </label>
    <%= form.text_field :departure,class:"form-control" %>
    <label> Город доставки </label>
    <%= form.text_field :destination,class:"form-control" %>
    <%= form.hidden_field :distance, id:"distance" %>
    <%= form.submit 'Рассчитать',class:"btn btn-dark" %>
  </div>

<% end %>


<script>
  function validate(field){
    if (Number.isInteger(parseInt(field.value))){
    } else {
      alert('введите целое число');
      field.value = ''
    }
  };
  $('form').submit(function () {
       alert('Выберите файл');
       return false;
  });

  // ymaps.ready(function(){
  //   var departure = "Москва";
  //   var destination = "Петрозаводск";
  //   ymaps.route([departure,destination]).then(
  //     function(route){
  //       var distance = route.getLength();
  //       set_distance(Math.round(distance/1000));
  //     });
      
  // });

  // function set_distance(distance){
  //   document.getElementById("distance").value = distance;
  // }
</script>