<div class="container">
  <div class="row">
    <div class="col-md">
      <%= form_with do |form| %>

        <div class="form-group">
          <label> Длина, м </label>
          <%= form.text_field :length,class:"form-control" %>
          <label> Ширина, м </label>
          <%= form.text_field :width,class:"form-control" %>
          <label> Высота, м </label>
          <%= form.text_field :height,class:"form-control" %>
          <label> Объём, м³ </label>
          <%= form.text_field :volume,class:"form-control" %>
          <label> Город отправки </label>
          <%= form.text_field :departure,class:"form-control", id:"departure" %>
          <label> Город доставки </label>
          <%= form.text_field :destination,class:"form-control", id:"destination", onchange: "get_distance()" %>
          <label> Расстояние, км </label>
          <%= form.text_field :distance,class:"form-control", id:"distance", readonly:true %>
          <%= form.submit 'Рассчитать',class:"btn btn-dark", onsubmit:"calculate()" %>
        </div>

      <% end %>
    </div>
    <div class="col-md">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Город</th>
            <th scope="col">Отправок</th>
          </tr>
        </thead>        
        <tbody>
          <% @top_departures.each_with_index do |city,index| %>
            <tr>
              <th><%= index+1 %></th>
              <td><%= city[0] %></td>
              <td><%= city[1] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div> 
  </div>
</div>

<script>

  $('form').submit(function(){
    let empty_fields = 0;
    $("input[type=text]")
      .each(function(index){
        if (this.value === '') empty_fields ++ ;
      });    
    if(empty_fields > 0) {
       alert('введите все значения для расчёта');
       return false;
    };
  });

  $("input[type=text]:not(#departure, #destination)").on('change',function(){
    if (!isNaN(+this.value) && +this.value != 0){
    } else {
      alert('введите число');
      this.value = ''
    }
  });

  function get_distance(){
    ymaps.ready(function(){
      var departure = document.getElementById("departure");
      var destination = document.getElementById("destination");

      ymaps.route([departure.value,destination.value])
        .then(function(route){
          var distance = route.getLength();
          set_distance(Math.round(distance/1000));
        })
        .catch (function(error) {
          alert('введите корректные названия городов');
          departure.value = '';
          destination.value = '';
        });
    });    
  }

  function set_distance(distance){
    document.getElementById("distance").value = distance;
  }

</script>